<!DOCTYPE html>
<html>
<head>
  <title>Postmark bounce</title>
  <%= stylesheet_link_tag    "postmark_bounce/application", media: "all" %>
  <%= javascript_include_tag "postmark_bounce/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
